.section {
  padding: 40px 0;
  padding-left: 24px;
}

.section-subtitle {
  color: #ff4c24;
  font-weight: 600;
  font-size: 0.9rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 24px;
  padding: 20px 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 24px;
  justify-content: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 24px;
  padding: 16px 0;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  /* Hide scrollbar while keeping functionality */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.food-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.food-card:hover {
  transform: translateY(-4px);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.badge {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background-color: #ff4c24;
  color: white;
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: 20px;
}

.heart-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-content {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-title {
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.dish-type {
  font-size: 0.9rem;
  color: #717171;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
}

.dabba-tag {
  margin-top: 10px;
  background: #f8f8f8;
  padding: 6px 10px;
  font-size: 0.8rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chef-info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #717171;
  font-size: 0.9rem;
}

.dish-price {
  font-weight: bold;
  font-size: 1.1rem;
}
